TITANIC

Variable   Definition	        Key

survival   Survival	            0 = No, 1 = Yes
pclass	   Ticket class	        1 = 1st, 2 = 2nd, 3 = 3rd
sex	       Sex	
Age	       Age                  in years	
sibsp      # of siblings / spouses aboard the Titanic	
parch	   # of parents / children aboard the Titanic	
ticket	   Ticket number	
fare	   Passenger fare	
cabin	   Cabin number	
embarked   Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton 

Задача: определить в зависимости от каких факторов могли выжить пассажиры Титаника

In [1]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from graphviz import Source
from sklearn import tree

In [4]:
df = pd.read_csv("titanic.csv",encoding="cp1251")
print(df.shape) 
print(df.info())
df.head()

(887, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null int64
Pclass                     887 non-null int64
Name                       887 non-null object
Sex                        887 non-null object
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null int64
Parents/Children Aboard    887 non-null int64
Fare                       887 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
# Проверка на пропущенные данные
df.isnull().any().any()

False

Обучение модели:

In [7]:
x = df[['Pclass', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare']]
y = df['Survived']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
dtree = DecisionTreeClassifier(max_depth=4, random_state=0)
dtree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [9]:
pip install pydot

Requirement already satisfied: pydot in c:\anaconda\lib\site-packages (1.4.1)
Requirement already satisfied: pyparsing>=2.1.4 in c:\anaconda\lib\site-packages (from pydot) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [10]:
export_graphviz(dtree, out_file='treeTitanic.dot', 
                rounded = True, proportion = False, 
                precision = 2, filled = True)

import pydot as p
(graph, ) = p.graph_from_dot_file('treeTitanic.dot')

graph.write_png('treeTitanic.png')

In [11]:
dtree.score(X_train, y_train)

0.7241935483870968

In [12]:
dtree.score(X_test,y_test)

0.7415730337078652